@media (max-width: 1220px) {
    .container{
        width: 1000px;
    }
    .container-table-jogos{
        grid-template-columns: 5fr 3fr;
    } 
    .btn-result-jogos{
        font-size: 1rem;
    }
}

@media (max-width: 1020px) {
    .container{
        width: 750px;
    }
    .container-jogos-fase-grupo{
        width: 100%;
    }
    .container-table-jogos table{
        border-right: none;
    }
    .container-table-jogos{
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr;
    }
    .jogo{
        font-size: 1.6rem;
        text-transform: capitalize;
    }
    .btn-result-jogos{
        font-size: 1.3rem;
    }
}

@media(max-width: 800px){
    .container{
        width: 90%;
    }
}

@media(max-width: 600px){
    .container{
        width: 95%;
    }
}