@media (max-width: 1220px) {
    .container{
        width: 1000px;
    }
    .container-table-jogos{
        grid-template-columns: 5fr 3fr;
    }
    .rodada-1,.rodada-2,.rodada-3,.rodada-4,.rodada-5,.rodada-6{
        width: 365px;
    }
    .btn-result-jogos{
        font-size: 1rem;
    }
}

@media (max-width: 1020px) {
    .container{
        width: 750px;
    }
    .container-jogos-fase-grupo{
        width: 71%;
        margin: 0 auto;
    }
    .container-table-jogos table{
        border-right: none;
    }
    .container-table-jogos{
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr;
        gap: 0 30px;
    }
    .rodada-1,.rodada-2,.rodada-3,.rodada-4,.rodada-5,.rodada-6{
        width: 100%;
    } 
    .jogo{
        font-size: 1.6rem;
        text-transform: capitalize;
    }
    .btn-result-jogos{
        font-size: 1.3rem;
    }
    .btn-result-jogos{
        right: 4%;
        top: 5%;
        width: 80px;
        height: 30px;
    }
}